[submodule "algorithms/peak-signal-detection-zscores"]
	path = algorithms/peak-signal-detection-zscores
	url = git@github.com:traderjosh/zScore.git
[submodule "algorithms/harmonics-python"]
	path = algorithms/harmonics-python
	url = git@github.com:xxwikkixx/HarmonicPattern.git
[submodule "algorithms/value-area"]
	path = algorithms/value-area
	url = git@github.com:traderjosh/ValueArea.git
