[submodule "algorithms/peak-signal-detection-zscores"]
	path = algorithms/peak-signal-detection-zscores
	url = git@github.com:Bluejay47/zScore.git
[submodule "algorithms/harmonics-python"]
	path = algorithms/harmonics-python
	url = git@github.com:xxwikkixx/HarmonicPattern.git
